@import "./variable.scss";

.sp-zoom-in-top-enter-active,
.sp-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $transition-md-fade;
  transform-origin: center top;
}
.sp-zoom-in-top-enter,
.sp-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.sp-zoom-in-center-enter-active,
.sp-zoom-in-center-leave-active {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.sp-zoom-in-center-enter,
.sp-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}