/* stylelint-disable */
@font-face {
  font-family: sparta-icons; /* Project id 2706544 */
  src:
    url("~sparta/common/font/iconfont.woff2?t=1628055677570") format("woff2"),
    url("~sparta/common/font/iconfont.woff?t=1628055677570") format("woff"),
    url("~sparta/common/font/iconfont.ttf?t=1628055677570") format("truetype");
}

[class^="sp-icon-"], [class*=" sp-icon-"] {
  font-family: sparta-icons !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
  display: inline-block;

  &::before {
    display: inline-block; /* 解决伪元素在字号为12px的时候，高度会是13的问题 */
  }
}

.sp-icon-caret-right:before {
  content: "\e615";
}

.sp-icon-arrow-down:before {
  content: "\e612";
}

.sp-icon-clock::before {
  content: "\e62a";
}

.sp-icon-ques::before {
  content: "\e645";
}

.sp-icon-close::before {
  content: "\e6b0";
}

.sp-icon-close-bold::before {
  content: "\e6af";
}

.sp-icon-delete::before {
  content: "\e6ae";
}

.sp-icon-view::before {
  content: "\e6ac";
}

.sp-icon-add::before {
  content: "\e6ab";
}

.sp-icon-warning-circle::before {
  content: "\e6aa";
}

.sp-icon-loading-bold::before {
  content: "\e6a9";
}

.sp-icon-file::before {
  content: "\e6a8";
}

.sp-icon-check::before {
  content: "\e6a7";
}

.sp-icon-arrow-down-bold::before {
  content: "\e6a6";
}

.sp-icon-arrow-right::before {
  content: "\e6a4";
}

.sp-icon-arrow-double-right::before {
  content: "\e6a3";
}

.sp-icon-arrow-left::before {
  content: "\e6a2";
}

.sp-icon-arrow-double-left::before {
  content: "\e6a1";
}

.sp-icon-calendar::before {
  content: "\e6a0";
}

.sp-icon-search::before {
  content: "\e69f";
}

.sp-icon-add-bold::before {
  content: "\e69e";
}

.sp-icon-loading::before {
  content: "\e697";
}

.sp-icon-loading,
.sp-icon-loading-bold {
  animation: rotating 0.7s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}