.language-vue {
  color: #fff;
  font-size: 15px !important;
  line-height: 1.4 !important;
}

.hljs-name, .hljs-string, .hljs-number, .hljs-keyword, .hljs-built_in {
  color: #42b983;
}

.hljs-attr {
  color: #f08d49;
}