.sp-radio__wrap {

  .sp-radio__inner::after {
    width: 12px;
    height: 12px;
  }
}

.sp-input {
  .sp-input__inner {
    background-color: transparent;
  }

  .sp-input__clear.sp-icon-close-bold {
    color: #14181d;
    background-color: rgb(255 255 255 / 40%);
  }

  .sp-input-group__format-tip {
    border: 1px solid #3d3d3d;
  }
}

.sp-modal-wrap .sp-modal-content {
  border: 1px solid #3d3d3d;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}

.sp-select {
  .sp-icon-close-bold,
  .sp-icon-arrow-down-bold {
    color: rgb(255 255 255 / 60%);
  }
}

.sp-password-input__item {
  &.is--focus {
    background-color: #2c2c30;
  }
}

.sp-toast .toast__content {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}
