/* Transition
-------------------------- */
$transition-all: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-all-quick: all 0.1 cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-fade: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1);
$transition-fade-linear: opacity 0.2s linear;
$transition-md-fade: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1);
$transition-border-base: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-color-base: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

/* Colors
-------------------------- */
$color-white: #fff;
$color-black: #000;
$color-primary: #3172d9;
$color-success: #09bb07;
$color-warning: #e6a23c;
$color-danger: #ff4d4f;
$color-info: #999;
$color-success-light: mix($color-white, $color-success, 80%);
$color-warning-light: mix($color-white, $color-warning, 80%);
$color-danger-light: mix($color-white, $color-danger, 80%);
$color-info-light: mix($color-white, $color-info, 80%);
$color-success-lighter: mix($color-white, $color-success, 90%);
$color-warning-lighter: mix($color-white, $color-warning, 90%);
$color-danger-lighter: mix($color-white, $color-danger, 90%);
$color-info-lighter: mix($color-white, $color-info, 90%);
$color-text-error: #fa5b5b;
$color-text-primary: #fff;
$color-text-regular: #fff;
$color-text-secondary: #808080;
$color-text-placeholder: rgba(255 255 255 / 40%);
$color-text-tip: rgb(255 255 255 / 60%);
$color-text-disabled: rgb(255 255 255 / 40%);
$color-divider-line: #dbdbdb;
$color-primary-light-1: mix($color-white, $color-primary, 10%);
$color-primary-light-2: mix($color-white, $color-primary, 20%);
$color-primary-light-3: mix($color-white, $color-primary, 30%);
$color-primary-light-4: mix($color-white, $color-primary, 40%);
$color-primary-light-5: mix($color-white, $color-primary, 50%);
$color-primary-light-6: mix($color-white, $color-primary, 60%);
$color-primary-light-7: mix($color-white, $color-primary, 70%);
$color-primary-light-8: mix($color-white, $color-primary, 80%);
$color-primary-light-9: mix($color-white, $color-primary, 90%);
$color-danger-light-1: mix($color-white, $color-danger, 10%);
$color-danger-light-2: mix($color-white, $color-danger, 20%);
$color-danger-light-3: mix($color-white, $color-danger, 30%);
$color-danger-light-4: mix($color-white, $color-danger, 40%);
$color-danger-light-5: mix($color-white, $color-danger, 50%);
$color-danger-light-6: mix($color-white, $color-danger, 60%);
$color-danger-light-7: mix($color-white, $color-danger, 70%);
$color-danger-light-8: mix($color-white, $color-danger, 80%);
$color-danger-light-9: mix($color-white, $color-danger, 90%);

/* Shadow
-------------------------- */
$float-box-shadow-box: 0 5px 5px -3px rgb(0 0 0 / 20%),
  0 8px 10px 1px rgb(0 0 0 / 14%),
  0 3px 14px 2px rgb(0 0 0 / 12%);

/* Disable base
-------------------------- */
$disabled-color-base: $color-text-placeholder !default;
$disabled-background-base: #ededed;

// Background
$background-color-base: #ffe9e6;

/* Scrollbar
-------------------------- */
$scrollbar-background: #f5f5f5;
$scrollbar-track-color: #f5f5f5;
$scrollbar-thumb-color: #d7d9df;

/* Border
-------------------------- */
$border-width-base: 1px;
$border-style-base: solid;
$border-color-base: #4d4d4d;
$border-color-light: #e4e7ed;
$border-color-lighter: #ebeef5;
$border-color-extra-light: #f2f6fc;
$border-color-hover: $color-text-placeholder;
$border-base: $border-width-base $border-style-base $border-color-base;
$border-radius-base: 6px;
$border-radius-small: 2px;
$border-radius-circle: 100%;

/* Button
-------------------------- */
$button-font-size: 16px;
$button-font-weight: normal;
$button-min-width: 120px;
$button-height: 42px;
$button-border-radius: 6px;
$button-medium-font-size: 16px;
$button-medium-min-width: 108px;
$button-medium-height: 36px;
$button-small-font-size: 14px;
$button-small-min-width: 96px;
$button-small-height: 32px;
$button-mini-font-size: 13px;
$button-mini-min-width: 84px;
$button-mini-height: 28px;
$button-default-color: $color-primary;
$button-default-fill: transparent;
$button-default-border: $color-primary;
$button-default-fill--hover: transparent;
$button-default-fill--focus: $button-default-fill;
$button-default-fill--active: transparent;
$button-color--disabled: rgb(255 255 255 / 40%);
$button-fill--disabled: #254e8e;
$button-border--disabled: $border-color-lighter;
$button-plain-fill: transparent;
$button-plain-color: rgb(255 255 255 / 80%);
$button-plain-color--hover: rgb(255 255 255 / 80%);
$button-plain-border: #4d4d4d;
$button-plain-fill--hover: rgb(255 255 255 / 5%);
$button-plain-fill--focus: rgb(255 255 255 / 10%);
$button-plain-fill--active: rgb(255 255 255 / 10%);
$button-plain-border--disabled: #4d4d4d;
$button-plain-color--disabled: rgb(255 255 255 / 40%);
$button-plain-fill--disabled: rgb(255 255 255 / 10%);
$button-plain-opacity--hover: 1;
$button-primary-border: $color-primary;
$button-primary-color: #fff;
$button-primary-fill: $color-primary;
$button-primary-fill--hover: #2c67c4;
$button-primary-border--hover: #2c67c4;
$button-primary-fill--focus: $button-primary-fill;
$button-primary-border--focus: $button-primary-border;
$button-primary-fill--active: #285cad;
$button-primary-border--active: #285cad;
$button-info-border: $color-primary;
$button-info-color: $color-primary;
$button-info-fill: transparent;
$button-info-fill--hover: transparent;
$button-info-border--hover: $color-primary;
$button-info-fill--focus: transparent;
$button-info-border--focus: $color-primary;
$button-info-fill--active: transparent;
$button-info-border--active: $color-primary;
$button-info-plain-fill: transparent;
$button-info-plain-text: $color-primary;
$button-info-plain-border: $color-primary;
$button-info-plain-fill--hover: rgb(255 255 255 / 5%);
$button-info-plain-fill--active: rgb(255 255 255 / 10%);
$button-info-plain-text--hover: $color-primary;
$button-info-plain-border--hover: $color-primary;
$button-text-color: #63a6ff;
$button-text-color--hover: #63a6ff;
$button-text-color--focus: #63a6ff;
$button-text-color--active: #1167dc;
$button-text-color--disabled: $color-text-disabled;

/* PasswordInput
-------------------------- */
$password-input-item-height: 44px;
$password-input-item-width: 44px;
$password-input-width: auto;
$password-input-caret-color: #d83024;
$password-input-caret-width: 2px;
$password-box-border-focus: #ccc;
$password-box-shadow-focus: none;
$password-input-item-border: $border-base;
$password-input-item-background: transparent;
$password-input-caret-height: 50%;
$password-input-dot-size: 8px;
$password-input-item-margin: 6px;

/* Input
-------------------------- */
$input-height: 44px;
$input-font-size: 14px;
$input-color: $color-text-regular;
$input-background: transparent;
$input-background-disabled: rgb(255 255 255 / 10%);
$input-background-readonly: rgb(255 255 255 / 10%);
$input-background-append: transparent;
$input-background-format: rgb(255 255 255 / 10%);
$input-background-format-space: 2px;
$input-color-append: $color-text-secondary;
$input-border: $border-base;
$input-box-shadow-focus: none;
$input-box-shadow-focus-error: none;
$input-box-border-focus: #ccc;
$input-box-border-hover: #ccc;
$input-border-radius: 6px;
$input-medium-font-size: 16px;
$input-medium-height: 44px;
$input-small-font-size: 13px;
$input-small-height: 32px;
$input-mini-font-size: 12px;
$input-mini-height: 28px;

/* Radio
-------------------------- */
$radio-color: $color-text-primary;
$radio-background-color-active: transparent;
$radio-border-color-active: #3172d9;
$radio-font-size: 16px;
$radio-size: 18px;
$radio-border-color: #66696d;
$radio-background-color: transparent;
$radio-color-disabled: $color-text-disabled;
$radio-border-color-disabled: #66696d;
$radio-background-color-disabled: transparent;
$radio-button-background-color-active: #ffe9e6;
$radio-button-border-color-disabled: #e4e8ef;
$radio-button-text-hover: $color-text-secondary;
$radio-button-background-color-hover: #ffe9e6;
$radio-button-color: $color-text-secondary;
$radio-inner-background-color: #3172d9;
$radio-inner-font-size: 16px;
$radio-inner-font-weight: normal;

/* Select
-------------------------- */
$select-height: $input-height;
$select-background: transparent;
$select-background-disabled: rgb(255 255 255 / 10%);
$select-background-readonly: rgb(255 255 255 / 10%);
$select-suffix-background-color: transparent;
$select-suffix-background-color-focus: transparent;
$select-suffix-border-left: none;
$select-suffix-color-focus: $color-text-tip;
$select-input-border-color: $border-color-base;
$select-input-border-color-disabled: #ccc;
$select-input-border-color-hover: $input-box-border-hover;
$select-input-box-shadow-focus: $input-box-shadow-focus;
$select-input-border-color-focus: $input-box-border-focus;
$select-input-box-shadow-focus-error: $input-box-shadow-focus;
$select-input-border-color-focus-error: $color-danger;
$select-input-font-color: $color-text-regular;
$select-dropdown-item-background: #252627;
$select-dropdown-item-background-hover: #2c2d2e;
$select-dropdown-border-color: #484343;
$select-prepend-color: $color-text-tip;

/* Checkbox
-------------------------- */
$checkbox-background: #fff;
$checkbox-background-disabled: #ededed;
$checkbox-color-hover: #999;
$checkbox-color-click: #999;
$checkbox-border-color: $border-color-base;
$checkbox-checkmark-color: #fff;
$checkbox-checkmark-color-disabled: #ccc;
$checkbox-font-color-disabled: $color-text-disabled;
$checkbox-checked-color: $color-primary;

/* Tag
-------------------------- */
$tag-background: $color-primary;
$tag-border-color: $color-primary;
$tag-background--success: $color-success;
$tag-border-color--success: $color-success;
$tag-background--warning: $color-warning;
$tag-border-color--warning: $color-warning;
$tag-background--info: $color-info;
$tag-border-color--info: $color-info;
$tag-background--danger: $color-danger;
$tag-border-color--danger: $color-danger;

/* Option
-------------------------- */
$opiton-color: $color-text-regular;
$opiton-color-disabled: $color-text-disabled;

/* Form
-------------------------- */
$form-item-error-color: $color-text-error;
$form-item-label-color: rgb(255 255 255 / 72%);
$form-item-label-font-size: 14px;
$form-item-ques-top: 14px;
$form-item-ques-margin-left: 8px;
$form-item-error-font-size: 14px;
$form-item-ques-font-size: 16px;
$form-item-label-padding-right: 30px;
$form-item-label-error-color: rgb(255 255 255 / 72%);
$form-item-error-min-height: 31px;
$form-item-error-padding: 3px 0 6px;
$form-item-error-line-height: 20px;
$form-item-tip-font-size: 14px;
$form-item-tip-padding: 3px;

/* Modal
-------------------------- */
$modal-background: #252627;
$modal-border-radius: 10px;
$modal-mask-background: rgb(2 2 2 / 60%);
$modal-head-font-size: 16px;
$modal-head-text-align: left;
$modal-head-line-height: 22px;
$modal-close-font-size: 16px;
$modal-close-top: 20px;
$modal-close-right: 20px;
$modal-icon-font-size: 18px;
$modal-content-padding: 17px 20px 0;
$modal-close-font-color: rgb(255 255 255 / 60%);
$modal-icon-color: #808080;
$modal-form-item-label-padding-right: 36px;
$modal-form-padding-top: 20px;
$modal-form-padding-bottom: 24px;

/* Toast
-------------------------- */
$toast-font-size: 14px;
$toast-border-radius: 8px;
$toast-padding: 15px 24px;
$toast-color-info: rgb(255 255 255 / 80%);
$toast-color-success: $toast-color-info;
$toast-color-error: $toast-color-info;
$toast-color-warning: $toast-color-info;
$toast-background-info: #252627;
$toast-background-success: $toast-background-info;
$toast-background-error: $toast-background-info;
$toast-background-warning: $toast-background-info;
$toast-top: 50%;
$toast-transform: translate(-50%, -50%);

/* Confirm
-------------------------- */
$confirm-font-size: 16px;
$confirm-body-color: rgb(255 255 255 / 80%);
$confirm-foot-padding-bottom: 20px;
$confirm-foot-button-height: 40px;
$confirm-foot-button-min-width: 173px;
$confirm-foot-button-font-size: 16px;
$confirm-foot-button-margin: 12px;
$confirm-body-padding: 12px 0 28px;

/* Dropdown
-------------------------- */
$dropdown-background: #fff;
$dropdown-background-disabled: #f5f6f7;
$dropdown-item-color-hover: $color-primary;
$dropdown-item-background: #fff;
$dropdown-item-background-hover: #f5f6f7;
$dropdown-border-radius: $border-radius-base;
$dropdown-border-color: $border-color-base;
$dropdown-color: $color-text-regular;
$dropdown-color-disabled: $color-text-disabled;

/* Break-point
-------------------------- */
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;
$breakpoints: (
  "xs" : (max-width: $sm),
  "sm" : (min-width: $sm),
  "md" : (min-width: $md),
  "lg" : (min-width: $lg),
  "xl" : (min-width: $xl)
);
$breakpoints-spec: (
  "xs-only" : (max-width: $sm - 1),
  "sm-and-up" : (min-width: $sm),
  "sm-only": (min-width: #{$sm}) and (max-width: #{$md} - 1),
  "sm-and-down": (max-width: $md - 1),
  "md-and-up" : (min-width: $md),
  "md-only": (min-width: #{$md}) and (max-width: #{$lg } - 1),
  "md-and-down": (max-width: $lg - 1),
  "lg-and-up" : (min-width: $lg),
  "lg-only": (min-width: #{$lg}) and (max-width: #{$xl } - 1),
  "lg-and-down": (max-width: $xl - 1),
  "xl-only" : (min-width: $xl),
);